
@font-face {
  font-family: YekanBakh;
  src: url("../font/YekanBakh.ttf");
}

@font-face {
  font-family: YekanBakhFat;
  src: url("../font/YekanBakh-Fat.ttf");
}

@font-face {
  font-family: GoogleSanse;
  src: url("../font/ProductSans.ttf");
}